# Dependencies
node_modules
.pnpm-store

# Build output
dist
dist_electron

# IDE
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment
.env
.env.local
.env.*.local

# System Files
.DS_Store
Thumbs.db 